{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntoTheBlock Clone</title>
    <link href="{% static 'css/Bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
</head>
<body>
<header>
    <div class="px-3 py-2 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% url 'index' %}"
                   class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img src="{% static 'images/logo.png' %}" width="40" height="40" alt="Logo">
                    <span class="fs-4 ms-2">Crypto Dashboard</span>
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="changeSort('price')">Price</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="changeSort('volume')">Volume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="changeSort('last_price')">Last price</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="changeSort('change')">Change</a>
                    </li>
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cabinet' %}">Cabinet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2" style='background-color: #141E30;'>
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search" action="{% url 'search' %}">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="symbol">
            </form>
        </div>
    </div>

</header>
    {% block content %}
    {% endblock %}
</body>
</html>
