{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container mt-5">
    <h1>Crypto Detail</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card feature">
                <h2>Price Chart of the last year</h2>
                <canvas id="priceChart" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card feature">
                <h2>Stats</h2>
                <p>Here are some statistics of the cryptocurrency</p>
                <ul class="coin-info">
                    <li class="info-item"><span class="info-label">Symbol:</span> <span class="info-value">{{ crypto.coin.symbol }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Status:</span> <span class="info-value">{{ crypto.coin.status }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Last Price:</span> <span class="info-value">{{ crypto.status.lastPrice }} BTC</span>
                    </li>
                    <li class="info-item"><span class="info-label">Price Change:</span> <span class="info-value">{{ crypto.status.priceChange }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Weighted Average Price:</span> <span
                            class="info-value">{{ crypto.status.weightedAvgPrice }}</span></li>
                    <li class="info-item"><span class="info-label">Previous Close Price:</span> <span
                            class="info-value">{{ crypto.status.prevClosePrice }}</span></li>
                    <li class="info-item"><span class="info-label">Last Quantity:</span> <span class="info-value">{{ crypto.status.lastQty }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Bid Price:</span> <span class="info-value">{{ crypto.status.bidPrice }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Bid Quantity:</span> <span class="info-value">{{ crypto.status.bidQty }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Ask Price:</span> <span class="info-value">{{ crypto.status.askPrice }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Ask Quantity:</span> <span class="info-value">{{ crypto.status.askQty }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Open Price:</span> <span class="info-value">{{ crypto.status.openPrice }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">High Price:</span> <span class="info-value">{{ crypto.status.highPrice }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Low Price:</span> <span class="info-value">{{ crypto.status.lowPrice }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Volume:</span> <span class="info-value">{{ crypto.status.volume }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Quote Volume:</span> <span class="info-value">{{ crypto.status.quoteVolume }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Open Time:</span> <span class="info-value">{{ crypto.status.openTime }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Close Time:</span> <span class="info-value">{{ crypto.status.closeTime }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">First ID:</span> <span class="info-value">{{ crypto.status.firstId }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Last ID:</span> <span class="info-value">{{ crypto.status.lastId }}</span>
                    </li>
                    <li class="info-item"><span class="info-label">Count:</span> <span class="info-value">{{ crypto.status.count }}</span>
                    </li>
                </ul>
            </div>
            <form method="post" action="{% url 'add_to_favs' %}">
                {% csrf_token %}
                <input type="hidden" name="symbol" value="{{ crypto.coin.symbol }}">
                <button type="submit" class="btn btn-primary">Add to Favorites</button>
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="px-3 py-2">
        <div class="container text-center">
            <p>&copy; 2024 Your Company Name</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', async function() {
        const response = await fetch(`/get_currency_data/{{ crypto.coin.symbol }}/`);
        const data = await response.json();
        console.log(data);
        const priceData = data;

        const canvasId = 'priceChart';

        function buildChart(canvasId, priceData) {
            const ctx = document.getElementById(canvasId).getContext('2d');

            let labels = [];
            let prices = [];

            priceData.forEach(entry => {
                labels.push(new Date(entry.timestamp).toLocaleDateString());
                prices.push(entry.price);
            });

            if (labels.length === 0 || prices.length === 0) {
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ['No data available'],
                        datasets: [{
                            label: 'Price',
                            data: [0],
                            borderColor: 'rgba(255, 99, 132, 1)',
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            fill: true
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                type: 'category'
                            },
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            } else {
                new Chart(ctx, {
                    type: "bar",
                    data: {
                        labels: labels,
                        datasets: [{
                            label: "Price($)",
                            backgroundColor: "#79AEC8",
                            borderColor: "#417690",
                            data: prices
                        }]
                    },
                    options: {
                        title: {
                            text: "Gross Volume in 2020",
                            display: true
                        }
                    }
                });
            }
        }

        buildChart(canvasId, priceData);
    });

</script>
{% endblock %}